<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hifo.dataoperation.mapper.coe.BusCoeGroupMapper">

 	<select id="countForFullcode" resultType="int">
 		select count(1) resCount from bus_coe_group where pid =#{pid}
 	</select>

	<!-- <select id="getParentOrientationCoe" resultType="com.hifo.dataoperationperation.entity.coe.BusCommonCoeOrientation">
		select c.* from bus_coe_group g,bus_coe_structure s,bus_common_coe_orientation c
			where g.id=s.groupid and s.id=c.coeStructureId and s.conditionType = 1 
	</select>
	
	<select id="getParentFloorCoe" resultType="com.hifo.dataoperationperation.entity.coe.BusCommonCoeFloor">
		select c.* from bus_coe_group g,bus_coe_structure s,bus_common_coe_floor c
			where g.id=s.groupid and s.id=c.coeStructureId and s.conditionType = 1 
	</select> -->

</mapper>