<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hifo.dataoperation.mapper.coe.BusCommonCoeStructureMapper">

	<select id="getParentStructureCoe" resultType="com.hifo.dataoperation.entity.coe.BusCommonCoeStructure">
		SELECT
			c.*
		FROM
			bus_coe_group g,
			bus_coe_structure s,
			bus_common_coe_structure c
		WHERE
			g.id = s.groupid
		AND s.id = c.coeStructureId
		AND s.conditionType = 1  and s.groupid=#{parentGroupId}
	</select>

	<select id="getStructureCoeByGroup"  resultType="com.hifo.dataoperation.entity.coe.BusCommonCoeStructure">
		select c.* from bus_coe_structure s,bus_common_coe_structure c
			where s.id=c.coeStructureId and s.groupid=#{groupId}
	</select>
</mapper>